
data_treatment_model_temp.py
gitusetestuntitled4.py
NotebookTEST.ipynb
UseGITRepo.py
UseGITRepo.py
aula.py
alldata-3.csv
alldata-3-ALL.csv
20231101.py
__pycache__/pyDOE.cpython-311.pyc
__pycache__/data_treatment_model_temp.cpython-311.pyc
__pycache__/data_treatment_model_temp.cpython-310.pyc
__pycache__/data_treatment_model.cpython-311.pyc
__pycache__/data_treatment_model.cpython-310.pyc
__pycache__/data_treatment.cpython-311.pyc
.ipynb_checkpoints/NotebookTEST-checkpoint.ipynb
.ipynb_checkpoints/data_treatment_model-checkpoint.py
.ipynb_checkpoints/20231101-checkpoint.py
__pycache__/data_treatment_model_temp.cpython-311.pyc
__pycache__/data_treatment_model_temp.cpython-310.pyc
__pycache__/data_treatment_model.cpython-311.pyc
__pycache__/data_treatment.cpython-311.pyc
UseGITRepo.py
